.Servicebox{
    width: 700px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0, .6);
    box-shadow: 0px -1px 15px 23px rgba(255,255,255,0.1);
    text-align: left;
    border-radius: 30px;
  }

  .boxH1{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .btnLogin:hover{
    background: #2ecc71;
  }

.btnLogin{
    font-size: 20px;
    padding: 10px;
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #1882c8;
    width: 150px;
    border-color: #2ecc71;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none

}

 
  .Servicebox input[type = "text"],input[type = "file"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #1882c8;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .Servicebox input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 250px;
    border-color: #2ecc71;
  }
  .Servicebox input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .Servicebox input[type = "submit"]:hover{
    background: #2ecc71;
  }

  .custom-select{
    width: 200px;
  }

  .name{
    display: flex;
    flex-direction: row;
  }

  .serviceSelect{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    margin-left: 55px;
    text-align: center;
    border: 2px solid #1882c8;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 15px;
  }

  .custom-select{
    padding: 10px;
    display: flex;
    flex-direction: row; 
  }

  .serviceGender{
    border:0;
    background: none;
    display: block;
    margin: 25px auto;
    margin-left: 55px;
    text-align: center;
    border: 2px solid #1882c8;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }

  .FileSubmit{
    padding: 10px;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
  }

  .customOption{
    background: white;
    color: black;
  }